<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.BrandMapper">

    <!-- 多条件查询sql -->
    <select id="findByCondition" resultType="com.pinyougou.pojo.Brand">
        select * from tb_brand
        <where>
            <if test="name != null and name != ''">
            name like CONCAT('%',#{name},'%')
            </if>
            <if test="firstChar!=null and firstChar!=''">
                and first_char = #{firstChar}
            </if>
        </where>
        order by id asc
    </select>

    <!-- 批量删除sql -->
    <delete id="deleteAll">
        delete  from tb_brand where
        <foreach collection="array" item="id" open="id in(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
