<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.SellerMapper">

    <!-- 多条件查询sql -->
    <select id="findByCondition" resultType="com.pinyougou.pojo.Seller">
        select * from tb_seller
        <where>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name like CONCAT('%',#{nickName},'%')
            </if>
        </where>
        order by seller_id asc
    </select>







    <!--&lt;!&ndash; 添加选项规格 &ndash;&gt;-->
    <!--<insert id="save">-->
        <!--insert into tb_specification_option (option_name, spec_id, orders) values-->
        <!--<foreach collection="specificationOptions" item="so" separator=",">-->
            <!--(#{so.optionName},#{id},#{so.orders})-->
        <!--</foreach>-->
    <!--</insert>-->


    <!--&lt;!&ndash; 批量删除模板sql &ndash;&gt;-->
    <!--<delete id="deleteAll">-->
        <!--delete  from tb_type_template where-->
        <!--<foreach collection="array" item="id" open="id in(" separator="," close=")">-->
            <!--#{id}-->
        <!--</foreach>-->
    <!--</delete>-->
</mapper>
