<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.SpecificationMapper">

    <!-- 多条件查询sql -->
    <select id="findByCondition" resultType="com.pinyougou.pojo.Specification">
        select * from tb_specification
        <where>
            <if test="specName != null and specName != ''">
                spec_name like CONCAT('%',#{specName},'%')
            </if>
        </where>
        order by id asc
    </select>

    <!--&lt;!&ndash; 批量删除sql &ndash;&gt;-->
    <!--<delete id="deleteAll">-->
        <!--delete  from tb_brand where-->
        <!--<foreach collection="array" item="id" open="id in(" separator="," close=")">-->
            <!--#{id}-->
        <!--</foreach>-->
    <!--</delete>-->
</mapper>
